{% extends "base.html" %}
{% block title %}Applications{% endblock title %}

{% block body %}
<form method='post' action='/appliedcontact/'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="mail" class="form-label">Enter your email id</label>
            <input type="email" class="form-control" id="mail" name='mail' placeholder="example@gmail.com">
           <button class='btn btn-primary' type='submit'>Search<button>
          </div>
      </form>

 {% for c in contact %}
  {% if mail == c.email%}
 <table border='1' cellpadding='10'>
    <thead>
        <tr>
            <th>Name</th>
            <th>email</th>
            <th>phone</th>
            <th>desc</th>
            <th>date</th>
        </tr>
    </thead>
    <tbody>

 
 
  <tr>
    <td>{{ c.name }}</td>
    <td>{{ c.email }}</td>
    <td>{{ c.phone }}</td>
    <td>{{c.desc}}</td>
    <td>{{c.date}}</td>
  </tr>
   {% endif %}
  {% endfor %}
</tbody>
</table>
{% endblock body %}