{% extends "base.html" %}

{% block title %}Apply to our college{% endblock title %}
{% block body %}
<div class='container'>
    <h1>Enter details to apply</h1>
    <form method='post' action='/apply/'>
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name='name' placeholder="Enter your name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name='email' placeholder="Enter your email">
        </div>
        <div class="mb-3">
            <label for="paddress" class="form-label">Permanent address</label>
            <input type="text" class="form-control" id="paddress" name='paddress'
                placeholder="Enter your Permanent address">
        </div>
        <div class="mb-3">
            <label for="dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name='dob' placeholder="Enter your DOB">
        </div>
        <div class="mb-3">
            <label for="branch" class="form-label">Select Branch</label>
            <select class="form-control" id="branch" name="branch">
                <option value="">-- Select Branch --</option>
                <option value="CSE">Computer Science</option>
                <option value="ISE">Information Science</option>
                <option value="ECE">Electronics & Communication</option>
                <option value="ME">Mechanical Engineering</option>
                <option value="CIVIL">Civil Engineering</option>
                <option value="EEE">Electrical & Electronics</option>
            </select>
        </div>

        <button class='btn btn-primary' type='submit'>Submit</button>
    </form>
</div>
{% endblock body %}