{% extends "base.html" %}

{% block title %}contact us{% endblock title %}

{% block body %}
<img src="/static/1.jpg" alt="DSATM enterence">
<h1 style="text-align: center;">Contact us</h1>
<div class="container px-5 py-4 ">
    <form method='post' action='/contact/'>
        {% csrf_token %}
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name='name' placeholder="Enter your name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name='email' placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="phone" class="form-label">Contact No</label>
        <input type="tel" class="form-control" id="phone" name='phone' placeholder="Phone No">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Your feedback</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" name='desc' rows="3"></textarea>
    </div>
    <button class="btn btn-primary" type='submit'>Submit</button>
</form>
</div>
<div class='container'>
<h4><a href='/appliedcontact'>Click here</a> to check for applied forms</h4>
</div>

{% endblock body %}